*{
    margin: 0;
    padding: 0;
}
html{
    width:100vw;
}
.text-center{
    /* display:flex; */
    text-align:center;
    background-color: black;
    color:white;
    height:33px;
    /* font-size:auto; */
    justify-content:center;
    /* align-items:center; */
    align-content:center;
}
header{
    display:table;
    /* background-image:linear-gradient() */
    width:100vw;
    background-color: black;
    height:auto;
    justify-content:center;
    align-content:center;
    text-align:center;

}
#qw:hover{
    background-image:linear-gradient(#7f8c8dc0,#000000a1);
    border-radius:10px;
}
#qw{
    /* display:inline-block; */
    /* background-color: red; */
    text-decoration:none;
    color:white;
    padding:8px 32px;
    /* padding-top:1px; */
    font-size:15px;
    float:left;
    margin:3px 6px;
}
footer{
        font-family: "Playwrite IS", cursive;
        font-optical-sizing: auto;
        font-weight: 23px;;
        font-style: normal;
      }

      header {
        font-family: "PT Serif", serif;
        font-weight: 400;
        font-style: normal;
      }
      
      header {
        font-family: "PT Serif", serif;
        font-weight: 700;
        font-style: normal;
      }

      
main{
    background-image:linear-gradient(#7f8c8dc0,#000000a1);
    color:aliceblue
   }
#rs{
    /* width:45px; */
    padding:8px 18px;
    /* padding-top:1px; */
    font-size:15px;
    float:right;
    margin:3px 0px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.568),rgba(128, 128, 128, 0.587));
    border-top-left-radius:12px;
    border-bottom-left-radius:12px;
    animation-name:aniyt;
    animation-duration: 5s;
    animation-timing-function:ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes aniyt{
0%{
    width:0vw;
    padding:8px 0px;
    /* padding-left:32px;
    padding-right:0px; */
}
100%{
    width:45px;
    padding:8px 25px;
    /* padding-left:32px;
    padding-right:32px; */
}
}
/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.main {
  height: 100vh;
  width: 100%;
}

.wrapper,
.slide {
  position: relative;
  width: 100%;
  height: 100%;
}

.slide {
  overflow: hidden;
}

.slide::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.slide .image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.slide .image-data {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  z-index: 100;
}

.image-data span.text {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

.image-data h2 {
  font-size: 45px;
  font-weight: 600;
  color: #fff;
}

a.button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 25px;
  color: #333;
  background: #fff;
  text-decoration: none;
  margin-top: 25px;
  transition: all 0.3s ease;
}

a.button:hover {
  color: #fff;
  background-color: #c87e4f;
}

/* swiper button css */
.nav-btn {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
}

.nav-btn:hover {
  background: rgba(255, 255, 255, 0.4);
}

.swiper-button-next {
  right: 50px;
}

.swiper-button-prev {
  left: 50px;
}

.nav-btn::before,
.nav-btn::after {
  font-size: 25px;
  color: #fff;
}

.swiper-pagination-bullet {
  opacity: 1;
  height: 12px;
  width: 12px;
  background-color: #fff;
  visibility: hidden;
}

.swiper-pagination-bullet-active {
  border: 2px solid #fff;
  background-color: #c87e4f;
}

@media screen and (max-width: 768px) {
  .nav-btn {
    visibility: hidden;
  }

  .swiper-pagination-bullet {
    visibility: visible;
  }
}
