*{
    margin: 0;
    padding: 0;
}
.text-center{
    /* display:flex; */
    text-align:center;
    background-color: black;
    color:white;
    height:3vw;
    font-size:1vw;
    justify-content:center;
    /* align-items:center; */
    align-content:center;
}
footer{
        font-family: "Playwrite IS", cursive;
        font-optical-sizing: auto;
        font-weight: 23px;;
        font-style: normal;
      }